header {
	font-size:250%;
	padding-top:2%;
	padding-left:5%;
}
.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

.jumbotron {
      margin-bottom: 0;
}

.textBigger{
	color:black;
	font-size:200%;
	text-align:center
}
.inside{
	font-size:150%;
	color:black;
}
.textBox1{
	background-color:#6B8E23;
	border-radius:25px;
	margin-bottom:40px;
}
.textBox2{
	color:black;
	background-color:#6B8E23;
	margin: 20px 50px 0px 50px;
	border-radius:25px;
	margin-bottom:40px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
}

.center{
	text-align:center;
}

.tanks{
	font-size:135%;
}

.Timg{
	height: 225px;
}

.links {
  font-size:125%;
  padding: 12px 16px;
  margin-right:15px;
  color: white;
  text-decoration: none;
}
.links:hover{
	background-color: #3e8e41;
	color:white;
	text-decoration:none;
}

.head {
	background-color:#155724;
}

nav {
	background-color:#154024;
}

body {
	background-image: url("camo.png");
	background-repeat:no-repeat;
	background-size:cover;
	color:white;
	height:auto;
}

.img {
	height:100px;
	width:150px;
	float:right;
}

.main {
	background-color:DarkGreen;
	height:auto;
}

footer {
	background-color:#154024;
	text-align:center;
}
/*------------------------DROP DOWN LIST--------------------*/
.dropbtn{
	color: white;
	background-color:#154024;
	border:none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*------------------------ END DROP DOWN LIST --------------------*/

/*------------------------ SLIDE SHOW --------------------*/
* {box-sizing:border-box}

.slideshow-container {
  max-width: 60%;
  width:60%;
  max-height:30%;
  height:30%;
  position: relative;
  margin: auto;
  margin-bottom:10px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 992px) {
	.textBox1{
		width:100%;
		margin:0px 0px 0px 0px;
		margin-bottom:30px;
	}
	.medium{
		width:100%;
	}
	.tanks{
		font-size:100%;
	}
	.Timg{
		height: 200px;
	}
}

@media screen and (max-width: 776px){
	.Timg{
		height: 150px;
	}
	.tanks{
		font-size: 70%;
	}
}
